$azure-primary: #b6d7e4;
$azure-secondary: #1297a1;
$azure-light: #50bbc51a;
$blue-dark: #10223b;
$gray: #889db3;
$gray-light: #a7b7c71a;
$gray-disabled: #bdc2c4;
$pink: #fb567c;
$pink-light: #fc76961a;
$white: #fff;