@import "./variables";
@import "custom";
@import "Sidebar";
@import "TopNavbar";
@import "MainContainer";
@import "CardsSection";
@import "PoolCard";
@import "RoiModal";
@import "StakeModal";
@import "ClaimModal";
@import "InsufficientBalanceModal";
@import "animations";
@import "SubHeader";
@import "TradeCard";
@import "TradeModal";
@import "DashboardHeader";
@import "DashboardChart";
@import "DashboardOpenedTrades";
@import "History";

body {
  /*font-family: Avenir Next, Roboto, Helvetica Neue, sans-serif;*/
  background-color: #EEF3F4;
}


.bold {
  font-weight: bold;
}

.font-12 {
  font-size: 12px;
}

.font-14 {
  font-size: 14px;
}

.font-medium {
  font-family: AvenirNext-Medium;
}

.text-value {
  color: $blue-dark !important
}

.text-primary {
  color: $azure-primary !important;
}

.text-secondary {
  color: $azure-secondary !important;
}

.text-disabled {
  color: $gray-disabled;
}

.dropdownitemcurrency:hover{
  // background-color: transparent;
  border-color: black;
}

input.border-none {
  text-align: right;
  border: none;
  padding: 0;
  box-shadow: none !important;
}

svg.icon {
  width: 16px;
  height: 16px;
}

h1.page-title {
  color: $blue-dark !important;
  font-weight: 500 !important;
  text-align: center;
}

.modal-content {
  border-radius: 10px !important;
}

.modal-header {
  background-color: #3B434A;
  border-radius: 8px 8px 0px 0px !important;
}

.close {
  color: #FFFFFF;
}

hr{
  border-color: #ABC2D6;
  margin: 15px 20px 0px 20px;
}

.currencies-row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}