$body-bg: #fafcfd;

$theme-colors: ("primary": $azure-primary);
$theme-colors: ("dark": #3B434A);

@import "~bootstrap/scss/bootstrap";
@import 'assets/fonts/stylesheet.css';

a:hover {
  color: theme-color("primary");
}

.btn {
  padding: 8px 15px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 5px !important;
  background-color: #FBFFFF;

  &:active:enabled {
    transform: translateY(1px);
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &:hover {
    opacity: 0.65 !important;
  }

  &:disabled {
    opacity: 1!important;
  }

  &-primary {
    color: $white;
    background-color: $azure-primary;
    border-color: $azure-primary;
  }

  &-primary.disabled {
    color: $white;
    background-color: $azure-primary;
    border-color: $azure-primary;
  }

  &-primary:disabled {
    color: $white;
    background-color: $azure-primary;
    border-color: $azure-primary;
  }

  &-primary:hover {
    color: $white;
    background-color: $azure-primary;
    border-color: $azure-primary;
  }

  &-primary.btn-dark:hover {
    color: $white;
    background-color: #3B434A;
    border-color: #3B434A;
  }

  &-currency {
    color: #000000;
    background-color: #FBFFFF;
    border-color: #FBFFFF;
  }  

  &-secondary {
    color: $azure-primary !important;
    background-color: $white !important;
    border-color: $azure-primary !important;
  }

  &-transparent {
    color: $azure-primary !important;
    background-color: transparent !important;
    padding: 0;
  }

  &-icon {
    background-color: transparent !important;
    width: 32px;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    line-height: 1;
    padding: 0;
  }
}

.card {
  border-radius: 15px !important;

  &-header {
    background-color: #f0f5f8 !important;
  }

  &-footer {
    background-color: $white !important;
  }
}

.form-control {
  border-radius: 2px !important;
}

.modal {
  &-content {
    border-radius: 2px !important;
  }

  &-title {
    font-weight: bold;
    color: $blue-dark;
  }
}

.jumbotron {
  padding: 2rem 0;
  background-color: transparent;

  h1 {
    color: $azure-primary !important;
    font-weight: 600 !important;
  }

  h5 {
    color: $blue-dark !important;
    font-weight: 600 !important;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.dropdown-toggle::after{
  color: #000000;
}

.dropdownmenucurrencies{
  margin-top: 10;
  width: 500;
  border-radius: 10;
  box-shadow: 0px 0px 26px -8px rgba(171, 194, 214, 0.66);
  border-color: #FFFFFF;
  background: #FFFFFF;
}


.dropdownmenucurrencies>div{
  margin-right: 4px;
  margin-left: 4px;
}

.stack-row{
  width: 85%;
}

.card-no-border {
  border-color: #FFFFFF;
}

.tier-card-active {
  box-shadow: 0px 0px 33px -6px rgb(0 212 255 / 50%);
}

.history-header {
  all:unset;
  font-size: 12px;
  color: #A0AEC0;
}

.history-text {
  font-size: 12px;
  color: #3B434A;
}

.previewchart article div {
  margin-left: 0px !important;
  
}