
.dashboard-card-container{
    background: #FFFFFF;
    border: 0.5px solid #FBFFFF;
    box-sizing: border-box;
    box-shadow: 0px 3.5px 5.5px rgba(0, 0, 0, 0.02);
    border-radius: 10px;
}

.dashboard-card-subcontainer{
    width:100%;
    padding:26px 43.88px 24.39px 21px;
    
}

.dashboard-card-chart-title{ 
    all:unset;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #2D3748;

    @media only screen and (max-width:580px){
        font-size: 18px
    }
}

.dashboard-card-chart-no-data{
    /*margin-left: 45%;*/
    h1{
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 33px;
        color: #2D3748;
    }
}

.dashboard-date-range-output{
    
    all:unset;
    display:flex;
    
    align-items: center;
    width:173px;
    height:35px;
    border: 0.75px solid #ABC2D6;
    box-sizing: border-box;
    border-radius: 5px;
    cursor:pointer;
    img{
        all:unset;
        padding:11px 0 10px 14px;
        @media only screen and (max-width:580px){
            width:15px;
            height:15px;
        }
    }
    input{
        all:unset;
        margin-left: 7px;
        font-style: normal;
        font-weight: 700;
        font-size: 10px;
        line-height: 35px;
        color:#8DA0B0;
        @media only screen and (max-width:580px){
            font-size: 8px;
            line-height: 30px;
        }

        
    }
    @media only screen and (max-width:580px){
        width:140px;
        height:30px;
    }
   

}

.dashboard-card-header{
    display:flex;
    justify-content: space-between;
    @media only screen and (max-width:580px){
        flex-direction: row;
    }
}

.date-picker-mobile{
    @media only screen and (max-width:580px){
        max-width:40%;
    }
}