.history-table{
    
   thead{
       all:unset;

       tr{
           width:100%;
           border:unset;
           display:flex;
           justify-content:space-between;
           
            th{
               border:unset;
               width:100%;
               align-items: center;
               justify-self: center;
               font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 19px;
                color: #A0AEC0;
           }
       }
   }

   tbody{
       border:unset;
       tr{
            width:100%;
            border:unset;
            display:flex;
            justify-content:space-between;
            border-top:1px solid #ABC2D6;
           th{
               width:100%;
               border: unset;
               
               
               font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 19px;
                
                .greyText{
                    color:#8DA0B0;
                    font-size: 11;
                    line-height: 15px;
                }
            }
        }
    }
}

.on-center{   
    display:flex;
    align-items: center;
    justify-content:center;

}


.history-pl-negative{
    font-style: normal;
    font-weight: normal;
    color: #F4002C;
}

.history-pl-positive{
    font-style: normal;
    font-weight: normal;
    color: #00CC83;
}

.history-token-col{
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content:center;
    
    .history-token-symbol{
        min-width:60px;
    }
    .history-token-icon{
        width:25px;
        height:25px;
        
    }
}

.history-card{
    border: 0.5px solid #FBFFFF;
    box-sizing: border-box;
    box-shadow: 0px 3.5px 5.5px rgba(0, 0, 0, 0.02);
    border-radius: 15px;
    padding:35px 44px 35px 31px;
}

.history-date-range-output{
    
    all:unset;
    display:flex;
    
    align-items: center;
    width:173px;
    height:35px;
    background-color:white;
    box-sizing: border-box;
    border-radius: 5px;
    img{
        all:unset;
        padding:11px 0 10px 14px;
    }
    input{
        all:unset;
        margin-left: 7px;
        font-style: normal;
        font-weight: 800;
        font-size: 10px;
        line-height: 35px;
        color:#8DA0B0;
    }

}