.main-container {
  width: calc(100% - 305px);
  margin: 0 305px;
}

@media (max-width: 991px) {
  .main-container {
    width: 90vw;
    margin: 0 auto;
  }
}
// @media (min-width: 992px) {
//   .main-container {
//     position: absolute;
//     top: 0;
//     left: 257px;
//     min-width: calc(100% - 257px);
//     height: 100%;
//     display: flex;
//     flex-direction: column;
//     align-content: center;
//     overflow-y: scroll;
//     padding: 0px;

//     .content {
//       width: 928px;
//       padding: 55px 0;
//       margin: 0 auto;
//     }
//   }
// }
