@import url('http://fonts.cdnfonts.com/css/avenir-lt-std');

.sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 305px;
  height: 100vh;
  z-index: 100;
  
  
  background-color: #FBFFFF;
  .sidebar {
    height: 100%;
    
    font-size: 11px;
    font-family: "Avenir LT Std", sans-serif;
    
    &::before {
      position: absolute;
      top: 0;
      right: 0;

      @media only screen and (max-width: 1280px) {
        overflow: hidden;
        width: 50px;
      }
    }

    &::after {
      position: absolute;
      bottom: 40px;
      left: 0;
      transform: rotate(180deg);
      z-index: 1;

      @media only screen and (max-width: 1460px) {
        overflow: hidden;
        width: 45px;
        bottom: -15px;
      }

      @media only screen and (max-width: 1280px) {
        overflow: hidden;
        width: 50px;
      }
    }
  }

  .logo {
    padding-top:36px;
    margin-left:35px;
    width:176px;
    height:35px;
  }

  .menu {
    padding: 32px;

    &-item {
      display: flex;
      width:250px;
      height: 61.2px;
      vertical-align: middle;

      .link {
        width: 100%;
        color:#8DA0B0;
        font-style: normal;
        font-size: 18px;
        line-height: 25px;
        display: flex;
        align-items: center;
        cursor: pointer !important;
        vertical-align: middle;
        &:hover {
          text-decoration: none; 
          line-height: 26px;
          color: #FBFFFF !important;
        }
      }

      svg {
        width: 50px !important;
        height: 20px !important;
      }

      &:active {
        border-radius: 10px;
        background-color:#B6D7E4;
        box-shadow: 0px 0px 23px -2px rgba(171, 194, 214, 0.6);
      }

      &:hover{
        border-radius: 10px;
        background-color:#B6D7E4;
        box-shadow: 0px 0px 23px -2px rgba(171, 194, 214, 0.6);
        color: #FBFFFF !important;
        svg {
          color: white!important;
        }
      }
    }

  }

  .logoBig {  
    width:374px;
    height:374px;
    overflow:hidden;
  }

  .active-link{
    border-radius: 10px;
    background-color:#B6D7E4;
    box-shadow: 0px 0px 23px -2px rgba(171, 194, 214, 0.6);
    color: #FBFFFF !important;
    line-height: 26px;
    svg {
      color: white!important;
    }
  }

  .footer {
    position:absolute;
    bottom:0.02%;
    left:0;
    background-color:#FBFFFF;
    width:305px;
    height: 165px;
    justify-content:center;
    align-items:center;
    text-align: center;
    .addressSection {
      position:relative;
      align-items:center;
      justify-content: center;
      top:20px;

      img{
        margin-right: 5px;
        width:30px;
        height:30px;
      }
      .address {
        font-family: InterUI-Bold, sans-serif;
        font-size: 14px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: $blue-dark;
      }
    }
  
    .tierSection{

      position:relative;
      top:30px;
      left:60px;
      width:70%;
      height:19px;
      align-items:center;
      justify-content:center;
      
      .tierSubSection{
        display:flex;
        flex-direction: row;
        width:100%;
        align-items:center;

        a{
          color:$azure-primary;
          text-align: center;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 19px;
          text-transform: uppercase;
          margin-right: 20px;
        }
        
        p {
          all:unset;
          text-align: center;
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 19px;
          text-transform: uppercase;
          color: #3B434A;
        }

        span {
          font-size: 12px;
          font-weight: 700;
          text-transform: uppercase;
          
        }

        .iconSection{
          margin-left: 5px;
          h1{
            margin-left:5px;
          }
        }
      }
    
    }

    .address-under-line{
      position:relative;
      top:32px;
      width:233.25px;
      height:unset;
      border: 1px solid #ABC2D6;
    }

    .logoutSection{
      cursor:pointer;
      position:relative;
      top:40px;
      left:40%;
      width:100%;
      img{
        width:18px;
        height:18px;
        margin-right:5px;
      }
      .logout-text{
        height:21.53px;
        font-weight: 500;
        font-size: 14px;
        font-style:normal;
        line-height: 19.12px;
        color: #8DA0B0;

      }
    }
  }
}

.logo-under-line {
  width:233.25px;
  border: 1px solid #ABC2D6;
}

@media (max-width: 991px) {
  .sidebar-container {
    left:-100%;
  }
}