.subheader-title{
    all:unset;
    width:147px;
    height:66px;
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 66px;
    color:#3B434A;
    letter-spacing: 0;
    margin-left: 0;
    margin-right:15px;
    margin-bottom:10px;
}