.subheader-title{
    width:127px;
    height:66px;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 66px;
    color:#3B434A;
    border: 0.5px solid #FBFFFF;
    letter-spacing: 0;
    margin-left: 0;
    border: 0.5px
}