.sticky-wrapper {
  height: 85.1094px !important;

  @media only screen and (max-width:991px){
    display:flex;
    flex-direction: row;
  }
}

.navbar {
  z-index: 99;
  @media only screen and (max-width:560px){
    -webkit-box-shadow: 0px 6px 8px 2px #D9D9D9;
    -moz-box-shadow: 0px 6px 8px 2px #D9D9D9;
    -o-box-shadow: 0px 6px 8px 2px #D9D9D9;
    box-shadow: 0px 6px 8px 2px #D9D9D9;
    background-color: white!important;
  }
  
}

.header .navbar {
  padding: 25px 0 0 !important;
}

.logo-swaptracker {
  height: 40px;
}

.navbar .navbar-nav .nav-item .nav-link.active {
  font-weight: 600 !important;
}

.navbar .navbar-nav .nav-item .nav-link.active,
.navbar .navbar-nav .nav-item .nav-link:hover {
  color: #19233b !important;
}

.navbar .navbar-nav .nav-item .nav-link {
  /*padding: 30px 0px !important;*/
  color: #19233b !important;
  font-size: 15px !important;
  text-transform: none !important;
}

@media (min-width: 768px) {
  .navbar-expand-md {
    -ms-flex-flow: row nowrap !important;
    flex-flow: row nowrap !important;
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
  }
}